.container {
    position: absolute;
    left: 50%;   
    transform: translate(-50%, 0); 
    border: 1px solid #e5e5e5;
    padding: 8px;
    &.show {
        display: block;
    }
    &.hide {
        display: none;
    }
}