.container {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #222222;
    padding: 15px 20px 15px 18px;
    background-color: #fff;
    box-shadow: 0 33px 30px rgb(0 0 0 / 2%);
}
