.container {
    display: grid;
    grid-template-columns: 40px 40px 40px 40px 40px 40px 40px;    
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    color: #555555;
    .dayName {
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;

    }
}